/* lista de peliculas */
.lista-peliculas {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.seccion-lista {
  flex: 1;
}

.lista-peliculas h3 {
  color: #f0f6fc;
  margin-bottom: 16px;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #21262d;
  font-weight: 600;
  font-size: 0.9rem;
}

.lista-peliculas > .seccion-lista > p {
  color: #484f58;
  font-style: italic;
  margin-bottom: 15px;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .lista-peliculas {
    flex-direction: column;
  }
}
